@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --colorazul: #0a39e6;
    --colorblanco: #ffffff;
    --colornegro: #000000;
    --colorgristexto1: #888888;
    --colorgrisfondo: #efefef;
    --colorgristexto2: #85929e;
    --coloranaranjado1: #d9534f;
    --coloranaranjado2: #a0221e;

    --fontlato: "lato", sans-serif;
}


::selection {
    background-color: var(--colornegro);
    color: var(--colorblanco);

}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: var(--fontlato);
    font-size: 16px;
}


/*estilo de toda la pagina*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;

}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
    text-align: center;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--colorgristexto1);
}

a:visited {
    color: var(--coloranaranjado1);
}

button {
    cursor: pointer;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    font-size: 1.25rem;
    background-color: transparent;
}

.btn1 {
    border: 2px solid var(--colorblanco);
    background-color: var(--colorblanco);
    color: var(--coloranaranjado1);
}

.btn1:hover {
    background-color: transparent;
    color: var(--colorblanco);
}

.btn2 {
    border: 2px solid var(--coloranaranjado2);
    background-color: var(--coloranaranjado1);
    color: var(--colorblanco);
}

.btn2:hover {
    background-color: transparent;
    color: var(--colorblanco);
}

.btn3 {
    border: 2px solid var(--coloranaranjado1);
    background-color: var(--coloranaranjado1);
    color: var(--colorblanco);
    margin-left: 200px;
    margin-top: 10px;

}

.btn3:hover {
    background-color: transparent;
    color: var(--colorblanco);
}

.btn3-1 {
    padding: 3px;
    width: 68%;
    justify-content: center;
    border-radius: 5px;
    font-weight: 100;
}

.container {
    max-width: 1140px;
    margin: 0px auto;
    padding: 80px 0px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px
}


/*Header - menu de navegacion*/
header {
    background-color: var(--colornegro);
}

.header {
    height: 95px;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
}

.logotipo1 {
    height: 100%;
    width: auto;
}

.menu {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    gap: 50px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 50px;
    align-items: center;
}

.nav-list li a {
    text-decoration: none;
    color: var(--colorblanco);
    font-size: 1.25rem;
}

.abrir-menu,
.logotipo2,
.cerrar-menu {
    display: none;
}


/*estilos de mi portada*/
.portada img {
    width: 100%;
    height: auto;

}


.imagen img {
    width: auto;
    height: 100%;

}

.textos {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}

/*estilos de servicios*/

#servicio {
    background-color: var(--colornegro);
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: var(--coloranaranjado1);

    & p {
        color: var(--colorgristexto1);
    }

    & h6 {
        color: var(--coloranaranjado1);
    }
}



.servicio-titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap: 500px;
    width: 100%;
    height: auto;

}



.servicio-lista {
    gap: 50px;
    color: var(--colorazul);

}

.servicio-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio-1 img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.servicio-1 img:hover {
    transform: scale(1.3);
}


.servicio-1-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 25px;

    & p {
        text-align: center;
        font-style: italic;
    }
}

.banner1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colorazul);
}


#campusonline {
    background-color: var(--colorgristexto1);
    background-size: cover;
    background-position: center;

    & h3 {
        padding-top: 50px;
        color: var(--coloranaranjado2);
        text-align: center;
    }

}


.campusonline img {
    width: 75%;
    height: auto;
    transition: transform 0.5s ease;
}

.campusonline img:hover {
    transform: scale(1.3);
}

.campusonline {
    color: var(--colorblanco);
    font-weight: 700;
    padding: 50px;

    & p {
        color: var(--colorblanco);
        font-weight: 700;
        line-height: 40px;
    }
}

/*FOOTER - INFORMACIÓN*/

footer {
    background-color: var(--colornegro);

}

.footer {
    padding: 0px;
}

.footer-1 {
    padding: 45px;
}

.info {
    & p {
        color: var(--colorblanco);
    }
}

.titulo1 {
    & p {
        color: var(--colorblanco);
        font-weight: 600;
    }
}

.titulo2 {
    & p {
        color: var(--colorblanco);
        font-weight: 600;
        padding-top: 35px;
    }

    & a {
        list-style-type: none;
        color: var(--colorblanco);
    }
}

.titulo2list {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.titulo2list ul {
    padding-top: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1px;

    & li a {
        color: var(--colorblanco);
    }
}

.titulo2parrafo {
    & p {
        padding: 0px;
        color: var(--colorblanco);
        font-weight: 100;
    }
}

.titulo2info {
    padding: 0px;
}

.redes ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

    & p {
        color: var(--colorblanco);
    }

}

.redes {

    display: flex;
    flex-direction: column;

    & p {
        color: var(--colorblanco);
        font-weight: 600;
    }

    & a {
        color: var(--colorgristexto2);
        text-decoration: none;
    }

    & a:hover {
        text-decoration: underline solid var(--colorgristexto1);
    }
}


.formulario-input {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.formulario-input input,
textarea {
    width: 100%;
    padding: 15px;
    border-radius: 2px;
    border: none;
    background-color: var(--colorblanco);
}

.formulario-input input {
    height: 15px;
}

.formulario-input input:focus,
textarea:focus {
    outline: 1px solid var(--coloranaranjado1);
}


.btn3 {
    border: 2px solid var(--coloranaranjado1);
    background-color: var(--coloranaranjado1);
    color: var(--colorblanco);
    margin-left: 200px;
    margin-top: 10px;
}

.btn3:hover {
    background-color: transparent;
    color: var(--coloranaranjado2);
}

.btn3-1 {
    padding: 3px;
    width: 68%;
    justify-content: center;
    border-radius: 5px;
    font-weight: 100;
}

/*Boton de Whatsapp*/

.whatsapp {
    position: fixed;
    z-index: 10000;
    margin: 20px;
    inset: auto 0px 0px auto;

}

.whatsapp a img {
    width: 50px;
    height: auto;
}

@media (max-width: 1023px) {
    /*Estilo de toda la pagina*/

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
        text-transform: uppercase;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    h6 {
        font-size: 1.25rem;
    }

    p {
        font-size: 1rem;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
        color: var(--colorgristexto1);
    }

    button {
        cursor: pointer;
        padding: 10px 25px;
        border: none;
        border-radius: 25px;
        font-weight: 700;
        font-size: 1.25rem;
        background-color: transparent;
    }


    .btn1 {
        border: 2px solid var(--colorblanco);
        background-color: var(--colorblanco);
        color: var(--coloranaranjado1);
    }

    .btn1:hover {
        background-color: transparent;
        color: var(--colorblanco);

    }

    .btn2 {
        border: 2px solid var(--coloranaranjado1);
        background-color: var(--coloranaranjado1);
        color: var(--colorblanco);
    }

    .btn2:hover {
        background-color: transparent;
        color: var(--coloranaranjado1)
    }

    .btn3 {
        border: 2px solid var(--coloranaranjado1);
        background-color: var(--coloranaranjado1);
        color: var(--colorblanco);
        margin-left: 200px;
        margin-top: 10px;

    }

    .btn3:hover {
        background-color: transparent;
        color: var(--coloranaranjado2);
    }

    .btn3-1 {
        padding: 3px;
        width: 68%;
        justify-content: center;
        border-radius: 5px;
        font-weight: 100;
    }

    .container {

        padding: 80px 25px;
    }

    .grid-2 {

        grid-template-columns: 1fr;
        gap: 50px;
    }

    .grid-3 {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .grid-4 {

        grid-template-columns: 1fr;
        gap: 50px
    }

    /*Header - menu de navegaciòn*/

    .abrir-menu,
    .cerrar-menu {
        display: flex;
        align-items: center;

        & img {
            width: 35px;
            height: auto;
        }
    }

    .logotipo2 {
        display: block;
        width: auto;
        height: 100%;
    }



    header {
        background-color: var(--coloranaranjado2);
    }

    .header {

        padding: 20px 0px;
    }

    .header2 {
        display: flex;
        justify-content: space-between;
        height: 95px;
        width: 100%;
        padding: 20px 0px;
    }

    .menu {
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: start;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--coloranaranjado2);

    }

    .menu.visible {
        visibility: visible;
    }

    .whatsapp.visible {
        visibility: hidden;
    }

    .nav {

        flex-direction: column;
        align-items: center;
        gap: 50px;
        width: 100%;
        padding: 20px 25px;

    }

    .nav-list {

        flex-direction: column;
        gap: 50px;


    }

    .nav-list li a {
        text-decoration: none;
        color: var(--colorblanco);
        font-size: 1.25rem;
    }


    /*estilos de mi portada*/

    .portada {
        gap: 50px;
    }

    .imagen img {
        width: 100%;
        height: auto;
    }

    .textos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        color: var(--coloranaranjado1);

        & p {
            color: var(--colorgristexto1);
        }

        & h3 {
            color: var(--coloranaranjado1);
        }
    }


    /*estilos de servicios*/

    #servicio {
        background-color: var(--colorgrisfondo);
    }

    .servicio {
        display: flex;
        flex-direction: column;
        gap: 50px;
        color: var(--coloranaranjado2);

        & p {
            color: var(--colorgristexto1);
        }
    }



    .servicio-titulo {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--coloranaranjado1);
        padding: 15px;
        gap: 500px;
        width: 100%;
        height: auto;

        & .logobanner img {
            margin-left: 500px;
            width: 250px;
            height: auto;
        }
    }


    .servicio-lista {
        gap: 50px;
        color: var(--coloranaranjado2);

    }

    .servicio-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .servicio-1 img {
        width: 100%;
        height: auto;
    }

    .servicio-1-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-top: 25px;

        & p {
            text-align: center;
            font-style: italic;
        }
    }

    .banner1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--coloranaranjado1);

        & a img {
            width: 100%;
            height: auto;
        }
    }


    .campusonline img {
        width: 100%;
        height: auto;

    }

    .campusonline {
        color: var(--colorblanco);
        font-weight: 700;
        padding: 50px;

        & p {
            color: var(--colorblanco);
            font-weight: 700;
            line-height: 40px;
        }
    }

    /*FOOTER - INFORMACIÓN*/

    footer {
        background-color: var(--colorgrisfondo);

    }

    .footer {
        padding: 0px;
    }

    .footer-1 {
        padding: 45px;
    }

    .info {
        & p {
            color: var(--colornegro);
        }
    }

    .titulo1 {
        & p {
            color: var(--colornegro);
            font-weight: 600;
        }
    }

    .titulo2 {
        & p {
            color: var(--colornegro);
            font-weight: 600;
            padding-top: 35px;
        }

        & a {
            list-style-type: none;
            color: var(--colornegro);
        }
    }

    .titulo2list {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .titulo2list ul {
        padding-top: none;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1px;

        & li a {
            color: var(--colornegro);
        }
    }

    .titulo2parrafo {
        & p {
            padding: 0px;
            color: var(--colornegro);
            font-weight: 100;
        }
    }

    .titulo2info {
        padding: 0px;
    }

    .enlaces ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }


    .enlaces {

        display: flex;
        flex-direction: column;

        & p {
            color: var(--colornegro);
            font-weight: 600;
        }

        & a {
            color: var(--colorgristexto2);
            text-decoration: none;
        }

        & a:hover {
            text-decoration: underline solid var(--colorgristexto1);
        }
    }


    .formulario-input {
        display: flex;
        flex-direction: column;

        gap: 10px;

    }

    .formulario-input input,
    textarea {
        width: 100%;
        padding: 20px;
        border-radius: 2px;
        border: none;
        background-color: var(--colorblanco);
    }

    .formulario-input input {
        height: 15px;
    }

    .formulario-input input:focus,
    textarea:focus {
        outline: 1px solid var(--coloranaranjado1);
    }


    .btn3 {
        border: 2px solid var(--coloranaranjado1);
        background-color: var(--coloranaranjado1);
        color: var(--colorblanco);
        margin-left: 200px;
        margin-top: 10px;

    }

    .btn3:hover {
        background-color: transparent;
        color: var(--coloranaranjado2);
    }

    .btn3-1 {
        padding: 3px;
        width: 100%;
        justify-content: center;
        border-radius: 5px;
        font-weight: 100;
        margin: 0px;
    }
}